.menu-activo{
    background: #e1e1e1 !important;
}

.emoji-textarea {
	resize: none;
	overflow: hidden;
	min-height: 1.2em; /* altura de una línea */
	max-height: 3.6em; /* altura de tres líneas */
	line-height: 1.2em; /* altura de línea */
	padding: 4px;
	box-sizing: border-box;
}

.container-xxl{
	background: 'red';
}

#divFile>label{
	max-width: 100% !important;
	min-width: 100% !important;
}

.div-activo{
    display: block !important;
}

.div1-Activo{
    background: #e1e1e1 !important;
}

.div-activoOpciones{
    display: block !important;
}

.div-activoOpciones2{
    display: block !important;
}

textarea{
    display: none;
}

div:where(.swal2-container).swal2-backdrop-show, div:where(.swal2-container).swal2-noanimation{
    z-index: 10000;
}

.divChatAcivo{
    height: 100% !important;
}

.chat{
    padding: 10px;
}

.spanMarcadoSinLeer:hover{
	background: #e1e1e1 !important;
}

.chat-container {
	padding: 15px;
	position: relative;
	width: 100%;
	max-width: 100%;
    overflow: auto;
    max-height: 100%;
}

.chat {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.message {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 20px;
    width: max-content;
	max-width: 80%;
	position: relative;
	margin-bottom: 30px;
}

.message.left {
    background: #dfecf9;
	padding: 5px 20px 0px 60px;
    border: 1px solid lightgrey;
}

.mencionado-left {
	background:  #bcd8f3;
	border-radius: 20px;
	padding: 2px 10px;
}

.message.left >span{
    font-size: 11px;
    border-top: 2px solid lightgrey;
}

.message.left >img{
    background: lightgrey;  
}

.message.right {
    text-align: right;
	align-self: flex-end;
	padding: 5px 60px 0px 20px;
    background: #d9fdd3;
    border: 1px solid #93c18c;
    
}

.message >span{
    width: 100%;
    display: block;
    margin-top: 7px;
    margin-bottom: 10px;
}

.message.right >span{
    font-size: 11px;
    border-top: 2px solid #93c18c;
}

.message.right >img{
    background: #93c18c;
}

.logoright{
    border: 2px solid #498f41;
}

.logoleft{
    border: 2px solid #6486a9;
}

.logo {
	border-radius: 50%;
	object-fit: cover;
	position: absolute;
	left: 10px;
	top: -10px;
	width: 40px;
	height: 40px;
}

.message.right .logo {
	left: auto;
	right: 10px;
}

.message p {
	margin: 0;
}

p{
    white-space: pre-line;
}

canvas{
    border: 1px solid #dddddd;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    margin-top: 3px;
}

.container-xxl{
    padding-top: 0px !important;
}

.container-p-y{
    padding-top: 8px !important;
}

body{
    overflow: hidden;
}

.scrolling-wrapper{
	overflow-x: hidden;
    height: 170px;
    width: 98%;
    margin: auto;
}

.priDiv{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.inputSolo:focus,
.inputSolo:focus-visible {
  outline: none;
}

.card-block{
	padding: 3px;
	max-height: 128px;
	background-color: #fff;
	border: none;
	background-position: center;
	background-size: cover;
	transition: all 0.2s ease-in-out !important;
	border-radius: 8px;
	width: fit-content;
	margin: auto;
	&:hover{
		transform: translateY(-5px);
		box-shadow: none;
		opacity: 0.6;
	}
}

.modal-backdrop{
	z-index: 10000;
}

.modal{
	z-index: 10001;
}
.card-1{
	background-color: #4158D0;
	background-image: linear-gradient(43deg, rgb(239 240 241) 0%, rgb(213 223 229) 46%, rgb(211 211 211) 100%);
}

/*
.descripcion {
	display: none;
    transition: margin-top 1s ease;
	visibility: hidden;
	color: white;
    padding: 10px;
	transition: visibility 1s linear 1s;
}

.priDiv:hover .card{
	opacity: 0.2;
}


.priDiv:hover .descripcion {
	
	margin-top: -47%;
    background: #222d32;
    visibility: visible;
	transition-delay: 0s;
    height: 50%;
	display: block;
}
*/

.card-2{
	background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.card-3{
	background-color: #00DBDE;
background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}

.card-4{
	background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.card-5{
	background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

.card-6{
	background-color: #FA8BFF;
background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
}

.card-7{
	background-color: #FA8BFF;
background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
}

.card-8{
	background-color: #FBDA61;
background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
}

.card-9{
	background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.card-10{
	background-color: #FF3CAC;
background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);

}


/*======================
    404 page
=======================*/


.page_404{ 
	padding:40px 0; 
	background:#fff;
}

.page_404  img{ 
	width:100%;
}

.four_zero_four_bg{
 	background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
}
 
 
.four_zero_four_bg h1{
 	font-size:80px;
}
 
.four_zero_four_bg h3{
	font-size:80px;
}
			 
.link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}

.link_402{
	color: #fff!important;
    padding: 10px 20px;
    background: #566a7f;
    margin: 20px 0;
    display: inline-block;
}

.contant_box_404{ 
	margin-top:-50px;
}